@media only screen and (min-width: 320px) and  (max-width: 425px)
{/*phone ver.*/ 

    .sign
    {
        margin-top: 35px;
    }

    #listLists
    {
        display: none;
    }
    
    .top > p
    {
        display: none;
    }

    body 
    {
        margin-top: 0px;
    }
    .top
    {
        background: #034f84;
        position: relative;
        height: 35px;
        width: 320px;
        margin-bottom: 5px;
        margin-left: -8px;
        box-sizing: border-box;
    }
    .top>h1
    {
        color: white;
        font-size: 20px;
        margin-top: 0px;
        padding-top: 4px;
        box-sizing: border-box;
    }
    #cat
    {
        display: none;
    }
    #rings
    {
        margin-top: 5px;
        margin-left: 5px;
        float: left;
        box-sizing: border-box;
        
    }
    #button1
    {
        position: relative;
        margin-top: -55px;
        margin-right: 7px;
        box-sizing: border-box;
        float: right;
    }

    .gallery>img
    {
        width: 310px;
        box-sizing: border-box;
    }

    .gallery>p>img
    {
        width: 310px;
        box-sizing: border-box;
    }

    .sign
    {
        position: relative;
        height: 150px;
        box-sizing: border-box;
    }

    .sign>form>input
    {
        margin-bottom: 11px;
        box-sizing: border-box;
    }

    #button2 
    {
        float: right;
        margin-top: 35px;
        box-sizing: border-box;
    }

    .gallery #h1
    {
        margin-bottom: 0px;
        box-sizing: border-box;
        font-size: 24px;
        margin-top: 7px;
        padding-top: 0px;
    }

    .gallery p 
    {
      font-size: 11px;
      margin-top: 0px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .gallery img 
    {
        padding-top: 6px;
        box-sizing: border-box;
    }

    .mid > p >img 
    {
        width:310px;
    }

    #search
    {
       position: relative;
       box-sizing: border-box;
       width: 100%;
    }
    ul
    {
        position: relative;
        margin: 0;
        padding: 5px;
        font-size: 5px;
        box-sizing: border-box;
    }
    li
    {
        width: 26px;
        display: inline-block;
        margin-right: 15px;
        margin-left: 26px;
        box-sizing: border-box;
    }

    li p 
    {
        box-sizing: border-box;
        text-align: center;
    }

    .down img 
    {
        width: 25px;
        height: 25px;
        box-sizing: border-box;
    }
    a
    {
        text-decoration: none;
        box-sizing: border-box;
    }
}